/* styles/App.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f5f5f5; /* Adjust this color as needed */
    border-bottom: 1px solid #ddd; /* Optional, for a bottom border */
}
.header h1 {
    margin: 0;
}
.profile-settings {
    display: flex;
    align-items: center;
}
.user-actions {
    display: flex;
    align-items: center;
    margin-left: 800px; /* Adjust spacing as needed */
}

  